<% content_for :full_width do %>
  <%= form_for :session, url: sessions_path do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: 'Navn', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
    </div>
    <%= f.submit 'Login', class: 'btn btn-lg btn-success btn-block' %>
  <% end %>
<% end %>
