<h1><%= @article.title %></h1>

<%= image_tag @article.image_url %>

<% unless @article.sub_title.empty? %><h2><%= @article.sub_title %></h2><% end %>
<p><%= @article.body.html_safe %></p>


<% @article.article_sections.each do |section| %>
  <div class="text-section">
    <% if section.image_position == 'Left' %>
      <div class="text-section__left"><%= image_tag section.image_url(:small) %></div>
      <div class="text-section__right">
        <h3><%= section.header %></h3>
        <p><%= section.body.html_safe %></p>
      </div>
    <% elsif section.image_position == 'Right' %>
      <div class="text-section__left">
        <h3><%= section.header %></h3>
        <p><%= section.body.html_safe %></p>
      </div>
      <div class="text-section__right"><%= image_tag section.image_url(:small) %></div>
    <% elsif section.image_position == 'Full' %>
      <div class="text-section__full"><%= image_tag section.image_url(:full) %></div>
      <div class="text-section__full">
        <h3><%= section.header %></h3>
        <p><%= section.body.html_safe %></p>
      </div>
    <% elsif section.image_position == 'No image' %>
      <div class="text-section__full">
        <h3><%= section.header %></h3>
        <p><%= section.body.html_safe %></p>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :aside do %>
  <% if @quiz.present? %>
    <div class="quiz">

      <div class="quiz__body quiz__body--init">
        <p><%= @quiz.question %></p>

        <span id="answer" style="display: none" data-answer="<%= @quiz.correct_answer %>"></span>
        <div class="color-entry-box__button quiz__answer" data-answer="1"><%= @quiz.answer_1 %></div>
        <div class="color-entry-box__button quiz__answer" data-answer="2"><%= @quiz.answer_2 %></div>
        <div class="color-entry-box__button quiz__answer" data-answer="3"><%= @quiz.answer_3 %></div>
      </div>

      <div class="quiz__body quiz__body--correct">
        <p>Det er helt rigtigt! <br> Du er super cool</p>
      </div>

      <div class="quiz__body quiz__body--wrong">
        <p>Øv, det er desværre ikke helt rigtigt!</p>

        <span>Prøv igen</span>
      </div>
    </div>
  <% end %>

  <% @article.get_entryboxes.each do |k, _| %>

    <% if k == :quiz_entry %>
      <a href="/artikel/madpakkequiz">
        <div class="color-entry-box color-entry-box--small color-entry-box--lunch-quiz">
        </div>
      </a>
    <% end %>

    <% if k == :exercise_entry %>
      <a href="/artikel/motion">
        <div class="color-entry-box color-entry-box--small color-entry-box--blue">
          <h3>Motion</h3>
        </div>
      </a>
    <% end %>

    <% if k == :wholegrain_entry %>
      <a href="/artikel/hvad-er-fuldkorn">
        <div class="color-entry-box color-entry-box--small color-entry-box--red">
          <h3>Fuldkorn</h3>
        </div>
      </a>
    <% end %>

    <% if k == :food_entry %>
      <a href="/artikel/energifordeling">
        <div class="color-entry-box color-entry-box--small color-entry-box--green">
          <h3>Maden du<br> spiser</h3>
        </div>
      </a>
    <% end %>

    <% if k == :recipes_entry %>
      <a href="/opskrifter">
        <div class="color-entry-box color-entry-box--small color-entry-box--recipes">
          <h3>Se Opskrifter</h3>
        </div>
      </a>
    <% end %>
  <% end %>

  <div class="blank"></div>
<% end %>