<h1>Inspiration og idéer til madpakker</h1>

<%= image_tag 'opskrifter.png' %>

<p>
  Her finder du masser af opskrifter til den gode madpakke – og hvor du kan få nogle gode ideer til, hvordan netop din frokost skal være så du har noget at glæde dig til når det ringer til spisepause.
</p>
<p>
  Derudover er der også nogle forslag til både mellemmåltid og morgenmaden.
</p>
<p>
  Rigtig god fornøjelse.
</p>

<% RecipeCategory.all.each do |category| %>
  <div class="recipe-category clearfix">
    <h3><%= category.name %></h3>

    <% category.recipes.each do |recipe| %>
      <div class="byline-box open" >
        <a href="#popup-<%= recipe.id %>" class="open-modal">
          <%= image_tag recipe.image_url(:thumb) %>
          <h3><%= recipe.name %></h3>

          <div id="popup-<%= recipe.id %>" class="image-modal image-modal mfp-hide">
            <h3 class="image-modal__header"><%= recipe.name %></h3>

            <%= image_tag recipe.image_url(:full) %>
            <div class="image-modal__description">
              <h3>Det skal du bruge:</h3>
              <p><%= recipe.body.html_safe %></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :aside do %>
  <a href="/artikel/madpakkequiz">
    <div class="color-entry-box color-entry-box--small color-entry-box--lunch-quiz">
    </div>
  </a>
  
  <a href="/artikel/motion">
    <div class="color-entry-box color-entry-box--small color-entry-box--blue">
      <h3>Motion</h3>
    </div>
  </a>

  <a href="/artikel/hvad-er-fuldkorn">
    <div class="color-entry-box color-entry-box--small color-entry-box--red">
      <h3>Fuldkorn</h3>
    </div>
  </a>

  <a href="/artikel/energifordeling">
    <div class="color-entry-box color-entry-box--small color-entry-box--green">
      <h3>Maden du<br> spiser</h3>
    </div>
  </a>
<% end %>




