@import "bootstrap/mixins.scss";
@import "bootstrap/variables.scss";
@import "bootstrap/forms.scss";
@import "bootstrap/buttons.scss";
@import "bootstrap/alerts";


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.full-width {
  width: 100%;
}

.clearfix:before {
  content: ' ';
  clear: both;
  display: block;
}