@font-face {
  font-family: 'agencyb';
  src: asset-url('agencyb.eot?#iefix') format('embedded-opentype'),
  asset-url('agencyb.woff') format('woff'),
  asset-url('agencyb.ttf')  format('truetype'),
  asset-url('agencyb.svg#agencyb') format('svg');
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: agencyb, Arial;
}

h1 {
  font-size: 70px;
  margin: 20px auto;
}

h3 {
  font-size: 25px;
  margin: 10px auto;
}

p {
  font-family: Arial;
}

a {
  text-decoration: none;
}


article p {
  font-size: 14px;
  line-height: 19px;
}
