<% content_for :full_width do %>
  <div class="top-banner">
    <h1 class="top-banner__title">Fokus på<br> det sunde måltid<br> midt på dagen</h1>
  </div>
<% end %>

<div class="col--50">
  <div class="color-entry-box color-entry-box--red">
    <h3>Fuldkorn</h3>
    <p>Lær hvordan man udnytter kornet<br> på den bedste måde</p>
    <a href="/artikel/hvad-er-fuldkorn" class="color-entry-box__button">Læs mere her</a>
  </div>

  <div style="height: 370px;" class="color-entry-box color-entry-box--girl">
    <a href="/artikel/madpakkequiz" class="color-entry-box__button">Madpakkequiz</a>
  </div>

  <div style="height: 340px;" class="color-entry-box color-entry-box--green">
    <h3>Maden du spiser</h3>
    <p>Har du brug for både<br> kulhydrat, protein og fedt?</p>
    <a href="/artikel/energifordeling" class="color-entry-box__button">Lær mere her</a>
  </div>
</div>


<div class="col--50">
  <div style="height: 350px;" class="color-entry-box color-entry-box--blue">
    <h3>Motion</h3>
    <p>Hvorfor skal vi bevæge os <br> og dyrke motion?</p>
    <a href="/artikel/motion" class="color-entry-box__button">Bliv klogere her</a>
  </div>

  <div style="height: 268px;" class="color-entry-box color-entry-box--brown">
    <h3>Til læreren</h3>
    <p>Lærervejledning og<br> supplerende opgaver</p>
    <a href="/artikel/kaere-underviser" class="color-entry-box__button">Se her</a>
  </div>

  <a href="/opskrifter">
    <div class="color-entry-box color-entry-box--food">
      <p>Idéer til<br> madkassen</p>
    </div>
  </a>
</div>
