
<h1>Så er det nu du skal tilmelde din klasse</h1>

<p>For 12. år i træk, opfordrer vi landets skoler til at afholde Madpakkens Dag - med fokus på det sunde måltid midt på dagen.

I år ar vi gjort undervisningsmaterialet webbaseret, således at det kan bruges i hele klassen eller i grupper på elevernes tablets. Der er masser af læring og oplæg til gode dialoger, krydret med gode billeder og interaktiv quiz.

De første 500 klasser der tilmelder sig, får hver leveret 5 pakker brød op til Madpakkens dag 1. september.</p>

<%= form_for @submission do |f| %>

  <% if @submission.errors.count > 0 %>
    <div class="alert alert-danger">
      <h3>Der var følgende fejl i formen</h3>
      <ul>
        <% @submission.errors.messages.each do |attribute, messages| %>
          <% messages.each do |message| %>
            <li><%= attribute %> <%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :school_name, 'Skolens navn' %>
    <%= f.text_field :school_name, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :contact_person, 'Kontakt person' %>
    <%= f.text_field :contact_person, class: 'form-control half' %>
  </div>

  <div class="form-group">
    <%= f.label :address, 'Adresse' %>
    <%= f.text_field :address, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :zip, 'Postnr.' %>
    <%= f.text_field :zip, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :city, 'By' %>
    <%= f.text_field :city, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :class_level, 'Klassetrin' %>
    <%= f.text_field :class_level, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :students, 'Antal elever' %>
    <%= f.text_field :students, class: 'form-control half'  %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'Bemærkninger' %>
    <%= f.text_area :message, class: 'form-control', rows: 5, style: 'width: 80%;' %>
  </div>

  <%= f.submit 'Indsend', class: 'btn btn-default' %>
<% end %>