footer {
  background: #000;
  clear: both;
  height: 430px;

  .logo {
    background: image-url('raw-logo.png') center no-repeat;
    float: left;
    height: 110px;
    margin: 20px 0 20px;
    width: 100%;
  }

  p {
    color: #a6a6a6;
    font-size: 16px;
    text-align: center;
    font-family: agencyb, Arial;
    clear: both;
    padding-top: 60px;
  }

  > nav {
    width: 127px;
    margin-left: 27px;
    float: left;

    > a {
      border-bottom: 1px solid #9f9f9f;
      color: #FFF;
      display: inline-block;
      font-size: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }

  > nav > nav {
    display: block;
    margin-top: 20px;
    color: #9f9f9f;

    a {
      color: #9f9f9f;
      display: block;
      margin-bottom: 10px;
    }
  }
}