header.site-header {
  background: #efede8;
  margin: 0;
  width: 100%;
    border-bottom: #dcdcdc 1px solid;
    position: relative;
    &:before {
        content: "\a0";
        display: block;
        line-height: 1px;
        background: #fff;
        height: 1px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .container {
        /*
        border-right: #dcdcdc 1px solid;
        border-left: #dcdcdc 1px solid;
        position: relative;

        &:after,
        &:before {
            content: "\a0";
            display: block;
            line-height: 1px;
            background: #fff;
            min-height: 100%;
            height: 100%;
            position: absolute;
            width: 1px;
            top: 0;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
        */
    }

  .logo {
      background: image-url('raw-logo.png') no-repeat center 5px;
      float: left;
      height: 103px;
      width: 200px;
      box-sizing: border-box;
      position: relative;
      text-align: center;
      padding-top: 70px;

      p {
          font-family: agencyb, Arial;
          color: #001f5b;
          font-size: 18px;
          margin: 0;
      }
  }
}
