.entry-menu:first-of-type {
    margin-bottom: 19px;
}

.sub-nav nav,
header nav {
    float: right;
    clear: right;
    width: 749px;
    text-align: right;
    height: 55px;
    line-height: 55px;


    &:not(:first-of-type) {
    //    border-top: #fff 1px solid;
    }

    /*
    &:first-of-type:after {
        content: "\a0";
        display: block;
        line-height: 1px;
        background: #dcdcdc;
        height: 1px;
        min-height: 1px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    */

    &:not(.sub-menu) {
       // border-bottom: #dcdcdc 1px solid;
    }

    a {
        color: #373737;
        font-size: 20px;
        margin: 0 11px;
    }

  a:hover {
    color: #36B0E5;
  }

  a.active {
    background: image-url('byline-link.png') no-repeat bottom;
    color: #36B0E5;
    padding-bottom: 7px;
  }
}

nav.sub-menu {
  display: none;

    /*
    border-top: #dcdcdc 1px solid !important;
    position: relative;
    &:after {
        content: "\a0";
        display: block;
        line-height: 1px;
        background: #fff;
        height: 1px;
        min-height: 1px;
        position: absolute;
        width: 100%;
        top: 0;
    }
    */

  a {
    color: #000;
  }
}
