body {
    margin: 0;
}

.container {
  margin: 0 auto;
  width: 950px;
}

article {
  float: left;
  width: 610px;
  margin-bottom: 6px;
}

article:not(.full-width) {
  margin-left: 20px;
}

aside {
  float: left;
  width: 280px;
  padding: 20px;
}

.recipe-category {

  h3:first-child {
    font-size: 45px;
    margin: 20px 0 ;
  }
}