.byline-box {
  background: image-url('byline-half.png') bottom no-repeat;
  float: left;
  height: 280px;
  margin: 0 10px 20px 0;
  width: 195px;

  img {
    width: 100%;
  }

  a {
    color: #000;
  }

  &:nth-child(3n+1) {
    margin-right: 0;
  }
}
