.color-entry-box {
  color: #FFF;
  text-align: center;
  padding: 55px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 6px;

  h3 {
    font-size: 50px;
    margin: 0 0 10px;
  }

  p {
    font-size: 16px;
    margin: 10px;
    line-height: 21px;
  }

  a {
    font-size: 27px;
  }
}

.color-entry-box__button {
  background-color: #FFF;
  background-image: -ms-linear-gradient(to bottom, #E8E9E9, #FFF);
  background-image: linear-gradient(to bottom, #E8E9E9, #FFF);
  border: 1px solid #FFF;
  box-shadow: #000000 1px 1px 1px;
  padding: 5px 25px;
  display: inline-block;
}

.color-entry-box--small {
  padding: 42px;

  h3 {
    margin: 0;
  }
}

.color-entry-box--cols:nth-child(even) {
  margin-right: 0;
}

.color-entry-box--red {
  background: #D53A21 image-url('entrybox/red_bg.png') bottom no-repeat;
  background-size: contain;

  a {
    color: #D53A21;
  }
}

.color-entry-box--blue {
  background: #1CA5E2 image-url('entrybox/blue_bg.png') bottom no-repeat;
  background-size: contain;

  a {
    color: #1CA5E2;
  }
}

.color-entry-box--green {
  background: #317042 image-url('entrybox/green_pattern_bg.png') bottom no-repeat;
  background-size: contain;

  a {
    color: #317042;
  }
}

.color-entry-box--brown {
  background: #877A67 image-url('entrybox/brown_bg.png') bottom no-repeat;
  background-size: contain;

  a {
    color: #877A67;
  }
}

.color-entry-box--girl {
  background: image-url('entrybox/girl_with_text_bg.jpg') bottom no-repeat;

  a {
    color: #62768c;
    margin-top: 220px;
  }
}

.color-entry-box--food {
  background: image-url('entrybox/food_bg.jpg') bottom no-repeat;

  p {
    margin: 80px 95px;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    font-family: agencyb, Arial;
  }
}

.color-entry-box--lunch-quiz {
  background: image-url('entrybox/lunch_quiz.png') bottom no-repeat;
  height: 210px;
  background-size: cover;

  p {
    margin: 80px 95px;
    font-size: 45px;
    line-height: 49px;
    text-align: left;
    font-family: agencyb, Arial;
  }
}

.color-entry-box--recipes {
  background: image-url('entrybox/recipes.jpg') bottom no-repeat;
  height: 370px;
  background-size: cover;
  padding: 22px;

  h3 {
    color: #000;
  }

  p {
    margin: 80px 95px;
    font-size: 45px;
    line-height: 49px;
    text-align: left;
    font-family: agencyb, Arial;
  }
}
