.image-modal {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 910px;
  margin: 20px auto;

  h3 {
    margin-top: 0;
  }

  img {
    float: left;
    width: 580px;
    display: block;
    margin-right: 20px;
  }
}

.image-modal__header {
  font-size: 50px;
  margin: 20px 0;
}

.image-modal__description {
  float: left;
  width: 275px;
}

.mfp-close.image-modal__close,
.image-modal__close {
  background: image-url('modal-close.png') no-repeat center;
  opacity: 1;
  margin: 10px 10px;
}