.quiz {
  background: image-url('quiz-top.png') no-repeat top;
  padding-top: 142px;
  margin-bottom: 20px;
  text-align: center;
}

.quiz__body {
  background: #000;
  border-radius: 20px;
  color: #FFF;
  font-size: 25px;
  padding: 25px 20px;

  p {
    background: image-url('byline-white.png') bottom no-repeat;
    padding-bottom: 20px;
    margin-top: 0;
    font-family: agencyb, Arial;
  }
}

.quiz__body--correct,
.quiz__body--wrong {
  display: none;
}

.quiz__body--correct p {
  background: none;
  padding: 0;
  margin: 0;
}

.quiz__body--wrong span {
  font-size: 25px;
  font-family: agencyb, Arial;
  cursor: pointer;

  &:after {
    content: ' >';
    color: #63a50a;
    margin-left: 5px;
  }
}

.quiz__answer {
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: agencyb, Arial;

  &:hover {
    background: #63a50a;
    border-color: #63a50a;
    color: #FFF;
  }
}
