.text-section {
  background: image-url('byline.png') top no-repeat;
  padding-top: 25px;
  margin-top: 25px;

  h3 {
    margin-top: 0;
  }

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
}

.text-section__left {
  float: left;
  width: 290px;
  margin-right: 30px;
}

.text-section__right {
  float: left;
  width: 290px;
}

.text-section__full {
  margin-bottom: 10px;
  width: 100%;
}