.top-banner {
  background: image-url('banner.jpg') no-repeat center center;
  background-size: cover;
  height: 495px;
  margin: 6px 0;
  position: relative;
  width: 100%;
}

.top-banner__title {
  color: #FFF;
  font-size: 62px;
  position: absolute;
  text-align: center;
  right: 100px;
}