<!DOCTYPE html>
<html>
<head>
  <title>Schulstad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67134920-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<header class="site-header">
  <div class="container">
    <%= link_to root_path do %>
      <div class="logo">
        <p>Madpakkens Dag 2017</p>
        <p>7. september</p>
      </div>
    <% end %>


    <nav class="entry-menu">
      <a href="#" data-id="6" class="<%= 'active' if @active_cat.present? && 6 == @active_cat.id %>">Til læreren</a>
    </nav>

    <nav class="entry-menu">
      <% Category.where.not(id: 6).each do |cat| %>
        <a href="#" data-id="<%= cat.id %>" class="<%= 'active' if cat == @active_cat %>"><%= cat.name %></a>
      <% end %>
    </nav>

    <div style="clear: both;"></div>
  </div>
</header>

<div class="sub-nav container" style="background: #ffffff">
  <% Category.all.each do |cat| %>
    <nav data-id="<%= cat.id %>" class="sub-menu">
      <%# Hardcode recipe links for now. %>
      <% if cat.id == 5 %>
        <%= link_to 'Inspiration og idéer til madpakken', recipes_path %>
      <% end %>

      <% cat.articles.order(:weight).each do |article| %>
        <%= link_to article.title, article_path(article.slug) %>
      <% end %>

      <%# Hardcode contact form link for now. %>
      <% if cat.id == 6 %>
        <%= link_to 'Kontakt', 'mailto:hanne.kragh@lantmannen.com', target: :blank  %>
      <% end %>
    </nav>
  <% end %>
  <div style="clear: both;"></div>
</div>


<div class="container">

  <%= yield :full_width if content_for?(:full_width) %>

  <article <% unless content_for?(:aside) %> class="full-width"<% end %> >
    <%= yield %>
  </article>

  <% unless content_for?(:full_width) %>
    <aside>
      <%= yield :aside %>
    </aside>
  <% end %>

  <footer>
    <div class="logo"></div>

    <% Category.includes(:articles).all.each do |cat| %>
      <nav>
        <a href="#" data-id="<%= cat.id %>"><%= cat.name %></a>

        <nav data-id="<%= cat.id %>">
          <%# Hardcode recipe links for now. %>
          <% if cat.id == 5 %>
            <%= link_to 'Inspiration og ideer til madpakken', recipes_path %>
          <% end %>

          <% cat.articles.each do |article| %>
            <%= link_to article.title, article_path(article) %>
          <% end %>

          <%# Hardcode contact form link for now. %>
          <% if cat.id == 6 %>
            <%= link_to 'Kontakt', 'mailto:hanne.kragh@lantmannen.com', target: :blank  %>
          <% end %>
        </nav>
      </nav>
    <% end %>

    <p class="clearfix">Lantmännen Schulstad A/S   /   Hammerholmen  21-35   /   2650 Hvidovre   /   Tlf +45 36397100</p>
  </footer>
</div>

</body>
</html>
